<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

        <title>Vovel! | 오디오 기반 채팅형 소설플랫폼! </title>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("chat-box").html("");
                bookList();
            });
            //브라우저에 주소가 입력되면 책 목록을 가져
            function bookList(){
                $.ajax({
                    type:"GET",
                    url:"/bookList",
                    data:{},
                    success: function(response){
                        if (response["result"]=="success"){
                            let bookList = response["bookTitle"];
                            for (let i=0; i<reviews.length; i++){
                                makeCard(
                                    bookList[i]["title"]
                                );
                            }
                        } else{
                            alert("책목록을 받아오지 못했습니다");
                        }
                    }
                })
            }

            //사용자가 업로드한 데이터를 서버에 넘겨줌.
            function makeStory(){
                $.ajax({
                    type:"POST",
                    url:"/makeStory",
                    data:{
                        title:title,
                        author:author,
                        type:line_type,
                        text:line
                    },
                    success:function (response){
                        if (response["result"] == "success"){
                            alert(response["msg"]);
                            window.location.reload()
                        }
                }
                })
            }

            //사용자가 업로드한 데이터에서 사용자가 클릭할 때마다 데이터의 챗/나레이션을 한줄씩 뽑아서 왼쪽 또는 중간에 담아서 그려
            function chatify() {
                $.ajax({
                    type: "GET",
                    url: "/makeStory",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let storylines = response["storylines"];
                            for (let i = 0; i < text.length; i++) {
                                makeChatify(
                                    chatify[i]
                                );
                            }
                        } else {
                            alert("변환에 실패했습니다.")
                        }
                    }
                })
            }

            function makeCard(title, author) {
                let tempHtml = `<tr>
                        <td>${title}</td>
                        <td>${author}</td>
                    </tr>`;
                $("#bookList-box").append(tempHtml);
            }

            function makeChatify(line_type, text) {
                let chatBox = $("chat-box").val();
                if (line_type == "narration") {
                    $(".narration").css("narDisplay");
                } else if (line_type == "chat") {
                    $(".chat").css("chatDisplay");
                }
            }


        </script>
    </head>
    <body>


<!--사용자가 클릭할 수 있는 플로팅된 버튼. 클릭할 때마다 챗 또는 나레이션이 한줄씩 나옴-->
        <a onclick="chatStoryCreate()" class="float">
            <i class="fas fa-mouse my-float"></i>
        </a>

<!--사이트 이름과 설명 섹션.-->
        <div class = "wrap">
            <div class="jumbotron">
                <H2 class = "display-1">Vovel</H2>
                <p class = "lead">장문의 소설을 채팅형식으로 변환하는 사이트입니다.<br>나레이션과 대화로 구성된 텍스트파일을 업로드해주세요.</p>
                <hr class="my-4">
<!-- 파일을 업로드할 수 있는 섹션.-->
                <p class = "lead">
                <form action="/data" method="post" enctype="multipart/form-data">
                    <h5>소설 제목 </h5><input type="text" name="title"><br><br>
                    <h5>소설 내용 </h5><textarea cols="50" rows="10"></textarea><br><br>
                <input type="button" id="button1" onclick="makeChatify();" value="변환을 시작하자!">
                </form>
                </p>
            </div>
<!-- 채팅 박스. 챗은 왼쪽 정렬, 나레이션은 중앙 정렬  -->
            <div class="chat-box">
                <div class = "div header-wrapper">
                    <header class="header">
                        <h1 class="header__title">$("title").val()</h1>
                    </header>
                </div>
                <div class="chat-screen">
                    <ul class="chat__messages">
                        <li class="narration-message">$("narration").val()</li>
                        <li class="chat-message">
                            <img src="images/avatar.jpg" class="avatar message__avatar">
                            <div class="message__content">
                                <span class="message__author">등장인물 1</span>
                                <div class="message__bubble">$("chat").val()</div>
                            </div>
                            <span class="message__timestamp"></span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="bookList">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">제목</th>
                        <th scope="col">저자</th>
                    </tr>
                    </thead>
                    <tbody id="bookList-box">
                    <tr>
                        <td>봄봄</td>
                        <td>김유정</td>
                    </tr>
                    </tbody>
                </table>
        </div>

        </div>
    </body>
</html>