<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta property="og:title" content="Vovel! | 오디오 기반 채팅형 소설플랫폼!"/>
        <meta property="og:description" content="소설을 채팅형으로 변환후 오디오 콘텐츠로 만들 수 있는 사이트입니다."/>
        <meta property="og:image" content="{{ url_for('static', filename='thumbnail.png') }}"/>


        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
              integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

        <title>Vovel! | 오디오 기반 채팅형 소설플랫폼! </title>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                // Tutor: 처음 목록을 비워준다.
                $("#bookList-box").empty();
                showBookList();
            });

            let book;
            let order;

            //브라우저에 주소가 입력되면 책 목록을 가져온다.
            function showBookList() {
                $.ajax({
                    type: "GET",
                    url: "/bookList",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            bookList = response["bookList"];
                            for (let i = 0; i < bookList.length; i++) {
                                makeCard(
                                    bookList[i]["title"],
                                    bookList[i]["author"],
                                );

                            }
                        } else {
                            alert("책목록을 받아오지 못했습니다");
                        }
                    }
                })
            }


            //책 리스트에서  책제목을 클릭시 스토리를 가져옴.
            // Tutor: titleClick 함수의 argument로 title을 추가합니다.
            function titleClick(title) {

                $.ajax({
                    type: "GET",
                    url: `/book?title_give=${title}`,
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            book = response["book"];
                            let chatTag = $("#chat-box");
                            chatTag.empty();
                            order = 0;
                            chatTag.append(`<div>${book["title"]}</div>`);
                            chatTag.append(`<div>${book["author"]}</div>`);
                        } else {
                            alert("스토리를 받아오지 못했습니다 ")
                        }
                    }
                })
            }

            //책 리스트 목록 만들기
            function makeCard(title, author) {
                let tempHtml = `<tr>
                            <td><a href="#" onclick="titleClick('${title}'); return false;" id="title-box">${title}</a></td>
                            <td class = "author" id="author-box">${author}</td>
                            </tr>`;
                $("#bookList-box").append(tempHtml);
            }


            //사용자가 책을 업로드하는 경우  데이터를 서버에 넘겨줌.
            function makeStory() {
                // Tutor: 사용자가 입력한 값을 가져옵니다.
                let title = $("#book-title").val();
                let author = $("#book-author").val();
                let story = $("#book-story").val();
                // TODO: 값이 없을 때는 입력해달다는 Validation을 구현합니다.
                $.ajax({
                    type: "POST",
                    url: "/makeStory",
                    data: {
                        title: title,
                        author: author,
                        story: story,
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload()
                        }
                    }
                })
            }

            //사용자가 업로드한 데이터에서 사용자가 클릭할 때마다 데이터의 챗/나레이션을 한줄씩 뽑아오기 .
            function chatify() {
                $.ajax({
                    type: "GET",
                    url: "/chatify",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let storylines = response(story["text"]);
                            $("#bring-button").onclick = function () {
                                for (let i = 0; i < storylines.length; i++) {
                                    makeLines(storylines[i]["text"])
                                }
                            }
                        } else {
                            alert("문장을 가져오지 못했습니다. ")
                        }
                    }
                })
            }

            // 한줄씩 뽑은 문장을 나레이션과 채팅으로 분류해서 메시지에 넣어주기.
            function makeLines(line_type, text) {
                let storylines = response(story["text"]);
                if (storylines[line_type] == "narration") {
                    messages.push(storylines[text]);
                } else if (storylines[line_type] == "chat") {
                    messages.push(storylines[text]);
                }
            }

            // 채팅박스 표시에 대한 부분. 추후 구현.
            function getStoryLine() {
                let chatTag = $("#chat-box");
                let storyLine = book["story"][order];
                order = order + 1;
                let type = storyLine["type"];
                let text = storyLine["text"];
                chatTag.append(`<div>${type}: ${text}</div>`);
            }

            {#function loadChatbox() {#}
            {#    var e = document.getElementById("minim-chat");#}
            {#    e.style.display = "block";#}
            {#    var e = document.getElementById("maxi-chat");#}
            {#    e.style.display = "none";#}
            {#    var e = document.getElementById("chatbox");#}
            {#    e.style.margin = "0";#}
            {##}
            {#function closeChatbox() {#}
            {#    var e = document.getElementById("chatbox");#}
            {#    e.style.margin = "0 0 -1500px 0";#}
            {##}
            {#function minimChatbox() {#}
            {#    var e = document.getElementById("minim-chat");#}
            {#    e.style.display = "none";#}
            {#    var e = document.getElementById("maxi-chat");#}
            {#    e.style.display = "block";#}
            {#    var e = document.getElementById("chatbox");#}
            {#    e.style.margin = "0 0 -460px 0";#}


        </script>
    </head>
    <body>

        <!--사용자가 클릭할 수 있는 플로팅된 버튼. 클릭할 때마다 챗 또는 나레이션이 한줄씩 나옴-->
        <a onclick="getStoryLine()" class="float" id="bring-button">
            <i class="fas fa-mouse my-float"></i>
        </a>

        <!--사이트 이름과 설명 섹션.-->
        <div class="wrap">
            <div class="jumbotron">
                <H2 class="display-1">Vovel</H2>
                <p class="lead">장문의 소설을 채팅형식으로 변환하는 사이트입니다.<br>나레이션과 대화로 구성된 텍스트파일을 업로드해주세요.</p>
                <hr class="my-4">
                <!-- 파일을 업로드할 수 있는 섹션.-->
                <p class="lead">
                    <!-- Tutor: Ajax로 보낼 것이므로 Form tag를 제거합니다. -->
                    <!-- Tutor: 받으려는 값에 id를 부여하여 jQuery($)가 쉽게 캐치할 수 있도록 합니다. -->
                <h5>소설 제목 </h5><input type="text" name="title" id="book-title"><br><br>
                <h5>저자</h5><input type="text" name="author" id="book-author"><br><br>
                <h5>소설 내용 </h5><textarea cols="50" rows="10" id="book-story"></textarea><br><br>
                <!-- Tutor: 서버로 소설 내용을 보내야하므로 makeChatify -> makeStory로 바꿉니다 -->
                <input type="button" id="button1" onclick="makeStory();" value="변환을 시작하자!">
                </p>
            </div>
            <!-- 책 목록.  -->
            <div class="bookList">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">제목</th>
                        <th scope="col">저자</th>
                    </tr>
                    </thead>
                    <tbody id="bookList-box">
                    <tr>
                        <td>봄봄</td>
                        <td>김유정</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            {#            <!-- 채팅 박스. 챗은 왼쪽 정렬, 나레이션은 중앙 정렬  -->#}
            {#            <div class="chat-box" onclick="loadChatbox()" id="chat">보기</div>#}
            {#            <div class="chatbox">#}
            {#                <div class="time"><span>10:42</span></div>#}
            {##}
            {#                <div class="message sol">#}
            {#                    <div class="resim"#}
            {#                         style="background-image: url('https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/t1/1461137_576157439120105_582502926_n.jpg');"></div>#}
            {#                    <div class="messageText" data-time="10:42">#}
            {#                        thats ok#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="message sag mtLine">#}
            {#                    <div class="messageText" data-time="10:43">#}
            {#                        ok than#}
            {#                    </div>#}
            {#                    <div class="resim"#}
            {#                         style="background-image: url('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-prn2/t1/1393075_669686723071617_1541630705_n.jpg');"></div>#}
            {#                </div>#}
            {#                <div class="message sol mtLine">#}
            {#                    <div class="resim"#}
            {#                         style="background-image: url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/t1/q71/1422532_452755621503523_1504727417_n.jpg');"></div>#}
            {#                    <div class="messageText" data-time="10:45">#}
            {#                        are you sure#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="message sol">#}
            {#                    <div class="resim"#}
            {#                         style="background-image: url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn2/1395115_368377233300847_323365594_n.jpg');"></div>#}
            {#                    <div class="messageText" data-time="10:45">#}
            {#                        yeah are you sure man?#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="message sol mtLine">#}
            {#                    <div class="resim"#}
            {#                         style="background-image: url('https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/t1/1461137_576157439120105_582502926_n.jpg');"></div>#}
            {#                    <div class="messageText" data-time="10:58">#}
            {#                        yeah im totally sure.#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="message sol">#}
            {#                    <div class="resim"#}
            {#                         style="background-image: url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc1/1601244_265297516958879_798390578_n.png');"></div>#}
            {#                    <div class="messageText" data-time="11:01">#}
            {#                        hey whats going on?#}
            {#                    </div>#}
            {#                </div>#}
            {#                </div>#}
            {#            <div id="close-chat" onclick="closeChatbox()"></div>#}
            {##}
            {#            </div>#}

            <div id="chat" class="animated-chat tada" onclick="loadChatBox()">Chat</div>
            <div id="chat-box"></div>
            <div class="chatbox" id="chatbox">
                <span class="chat-text">Chatting</span>
                <script>
                    //<![CDATA[
                    document.write('<div id="smartchatbox_img901621879" style="width: 280px; height: 450px; overflow: hidden; margin: auto; padding: 0;">');
                    document.write('<div id="smartchatbox901621879" style="width: 280px; height: 450px; overflow: hidden; margin: auto; padding: 0; border:0; ">');
                    document.write('<iframe src="https://www3.smartchatbox.com/shoutbox/sb.php?key=901621879" scrolling="no" frameborder="0" width="280px" height="450px" style="border:0; margin:0; padding: 0;">');
                    document.write('</iframe></div></div>');
                    //]]>
                </script>
                {#                <div id="close-chat" onclick="closeChatbox()">&times;</div>#}
                {#                <div id="minim-chat" onclick="minimChatbox()"><span class="minim-button">&minus;</span></div>#}
                {#                <div id="maxi-chat" onclick="loadChatbox()"><span class="maxi-button">&plus;</span></div>#}
            </div>
        </div>
    </body>
</html>